{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CARXKH</title>
        <!--link to css-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <!--box-->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <!--Header-->
        <header>
            <!--NAV-->
            <div class="nav container">
            <!--logo-->
                <a href="{% url 'home' %}" class="logo">CARX<span>KH</span></a>
            </div>
        </header>
        {% block content %}
            <section class="post-header">
                <div class="header-content post-container">
                    <a href="{% url 'home' %}" class="back-home">Back To Home</a>
                    <h2 class="header-title">{{ article.title }}</h2>
                    <img src="{{ article.thumb0.url }}" alt="" class="header-img">
                </div>
            </section>
            <section class="post-content post-container">
                <!--<h2 class="sub-heading">{{ article.subHeading1 }}</h2>-->
                <p class="post-text">{{ article.text1 }}</p>
                <a href="{{ article.image.url }}">
                    <img src="{{ article.image.url }}" alt="" class="header-img">
                </a>
                <!--<h2 class="sub-heading">{{ article.subHeading2 }}</h2>-->
                <p class="post-text">{{ article.text2 }}</p>
                <a href="{{ article.image2.url }}">
                    <img src="{{ article.image2.url }}" alt="" class="header-img">
                </a>
                <!--<h2 class="sub-heading">{{ article.subHeading3 }}</h2>-->
                <p class="post-text">{{ article.text3 }}</p>
                <a href="{{ article.image3.url }}">
                    <img src="{{ article.image3.url }}" alt="" class="header-img">
                </a>
                <!--<h2 class="sub-heading">{{ article.subHeading4 }}</h2>-->
                <p class="post-text">{{ article.text4 }}</p>
                <a href="{{ article.image4.url }}">
                    <img src="{{ article.image4.url }}" alt="" class="header-img">
                </a>
                <!--<h2 class="sub-heading">{{ article.subHeading5 }}</h2>-->
                <p class="post-text">{{ article.text5 }}</p>
                <a href="{{ article.image5.url }}">
                    <img src="{{ article.image5.url }}" alt="" class="header-img">
                </a>
                <!--<h2 class="sub-heading">{{ article.subHeading6 }}</h2>-->
                <p class="post-text">{{ article.text6 }}</p>
                <a href="{{ article.image6.url }}">
                    <img src="{{ article.image6.url }}" alt="" class="header-img">
                </a>
                <!--<h2 class="sub-heading">{{ article.subHeading7 }}</h2>-->
                <p class="post-text">{{ article.text7 }}</p>
            </section>
        {% endblock %}

        <!--Share-->
        <div class="share post-container">
            <span class="share-title">Share this article</span>
            <div class="social">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"<i class='bx bxl-facebook-square' ></i></a>
                <!--
                <a href="#"<i class='bx bxl-instagram' ></i></a>
                <a href="#"<i class='bx bxl-youtube' ></i></a>
                -->
            </div>
        </div>

        <!--Footer-->
        <div class="footer container">
            <p>&#169; CARXKH All Right Reserved</p>
            <div class="social">
                <a href="https://www.facebook.com/carxkh/"<i class='bx bxl-facebook-square' ></i></a>
                <a href="https://www.instagram.com/carxkh"<i class='bx bxl-instagram' ></i></a>
                <!--
                <a href="#"<i class='bx bxl-youtube' ></i></a>
                -->
            </div>
        </div>

        <!--Jquery Link-->
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <!--link to js-->
        <script src="/static/js/main.js"></script>
    </body>
</html>